body {
  font-family: 'Phudu', cursive;
  background-color: black;
  color: whitesmoke;
}

nav {
  display: flex;
}

nav > a {
  padding: 0.6rem;
  margin: 0.6rem;
}

nav > a:hover {
  border: 2px solid rgb(255, 255, 255);
  padding: calc(0.6rem - 2px);
  cursor: pointer;
}

nav > div > a > img {
  width: 1.2rem;
  padding: 1.225rem 0.6rem;
}

nav > div > a > img:hover {
  opacity: 0.6;
  cursor: pointer;
}